a:hover{
  color: blue;
}

body{
  background-color: #60868a;
}

.icon{
  font-size: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.d-inline a{
  color: #0c3f66;
}

.d-inline{
  margin-left: 10px;
}

.comentario{
  background-color: #ededed;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.cursor-pointer{
  cursor: pointer;
}
